
@{
    ViewBag.Title = "Inicio";
}

<h1 class="text-center h1 m-5">Menu de Departamentos</h1>
<div class="w-50 mx-auto">
    <a class="btn btn-block btn-success" href="/Departamentos/Create">Crear Departamento</a>
    <a class="btn btn-block btn-info" href="/Departamentos/Lista">Lista de Departamentos</a>
</div>
