@{
    ViewBag.Title = "Inicio";
}

<h1 class="text-center h1 m-5">Menu de Departamentos</h1>
<div class="container text-center">
    <div class="row">
        <div class="col-sm">
            <a class="btn" href="/Departamentos/Create">
                <img src="~/Images/Departamentos.png" class="w-75 shadow-lg rounded-circle bg-light" alt="..." />
                <p class="h2 mt-4">Crear Departamento</p>
            </a>
        </div>
        <div class="col-sm">
            <a class="btn" href="/Departamentos/Lista">
                <img src="~/Images/ListDept.png" class="w-75 rounded-circle p-2 shadow-lg" alt="..." />
                <p class="h2 mt-4">Lista de Departamentos</p>
            </a>
        </div>
    </div>
</div>