
@{
    ViewBag.Title = "Inicio";
}

<h1 class="text-center h1 m-5">Menu de Usuarios</h1>
<div class="w-50 mx-auto">
    <a class="btn btn-block btn-success" href="/Usuarios/Create">Crear Usuario</a>
    <a class="btn btn-block btn-info" href="/Usuarios/Lista">Lista de Usuario</a>
</div>

