
@{
    ViewBag.Title = "InicioDocumentos";
}

<h1 class="text-center h1 m-4">Menu Documentos</h1>
<hr />
<div class="container text-center mt-3">
    <div class="row">
        <div class="col-sm">
            <a class="btn" href="/Documentos/Create">
                <img src="~/Images/NuevoDocumento.png" class="w-75 shadow-lg p-2 rounded-circle bg-light" alt="..." />
                <p class="h2 mt-4">Envio de Documentos</p>
            </a>
        </div>
        <div class="col-sm">
            <a class="btn" href="/Documentos/Lista">
                <img src="~/Images/ListaDocumentos.png" class="w-75 rounded-circle p-2 shadow-lg" alt="..." />
                <p class="h2 mt-4">Lista de Documentos</p>
            </a>
        </div>
    </div>
</div>

