@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
   
        @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "text-decoration-none mx-3" })
        <a class="mx-3 text-decoration-none" href="javascript:document.getElementById('logoutForm').submit()">Cerrar Sesion</a>
    }
}
else
{
    <a class="mx-3">
        @Html.ActionLink("Iniciar Sesion", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "text-decoration-none" })
    </a>
    <a class="mx-3 mr-auto">
        @Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="text-decoration-none" })
    </a>
}
